body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
}

#header {
    text-align: center;
    background-color: buttonface;
    height: 90px;
}

#footer {
    text-align: center;
    background-color: darkcyan;
    height: 70px;
}