body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

#table {
    width:800px;
    margin: 0 auto;
}

#header{
    background-color: buttonface;
}

#navigation {
    width: 150px;
    height: 400px;
    background-color: cornflowerblue;
}

#content {
    width: 500px;
    height: 400px;
    background-color: blue;
}

#images {
    width: 150px;
    height: 400px;
    background-color: cornflowerblue;
}

#footer {
    text-align: center;
    background-color: darkcyan;
}